Question 0:

In [ ]:
# Providing Github Username:
# Username: ctaratko

# Question 1:
Q1(a).
- Create a list of integers from 1 to 10
- Append the number 11 to the list and remove the number 5

In [ ]:
MyList = [1,2,3,4,5,6,7,8,9,10]
MyList.append(11)
MyList.remove(5)
MyList

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11]

Q1(b).
- Consider the following Dictionary of three employees and their salaries:

In [ ]:
dict_salaries = {'Alice': 50000, 'Bob': 60000, 'Charlie': 70000}

- Add a new employee `'Dana'` with a salary of `65000`
- Update `'Alice'`'s Salary to 55000
- Print all employee names and their salaries

In [ ]:
dict_salaries.update({'Dana': 65000})
dict_salaries.update({'Alice': 55000})
print(dict_salaries) # can just write the object name

{'Alice': 55000, 'Bob': 60000, 'Charlie': 70000, 'Dana': 65000}

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Question 2
Q2(a).
- Assign a variable `Salary` to `75000`
- use an if-elif-else statement to print
  - `Low` if Salary is less than `50,000`
  - `Medium` if salary is betwen `50,000` and `99,999`
  - `High` if salary is `100,000` or more

In [ ]:
salary = 75000
if salary < 50000:
  print("Low")
elif 50000 < salary < 99999:
  print("Medium")
else:
  print("High")

Medium

Q2(b).
- Assign two variables, `role` and `salary` to `"Manager"` and `85000`, respectively.
- use nested if-else statements to print
  - `'Eligible for bonus'` if the `role` `"Manager"` is greater

In [ ]:
Role = 'Manager'
Salary = 85000
if Role == 'Manager' and Salary > 80000:
  print('Eligible for bonus')
elif Role == 'Analyst' and Salary < 60000:
  print('Eligible for raise')
else:
  print("No action needed")

Eligible for bonus

# Question 3
Q3(a).
- Consider the following Salaries:

In [ ]:
list_salaries = [45000, 60000, 75000, 120000, 30000]

- Calculate the average salary
- Use a `for` loop to print whether each salary is `'above average'` or `'below average'`.

In [ ]:
AverageSalary = sum(list_salaries) / len(list_salaries)
for GivenSalary in list_salaries:
  if GivenSalary > AverageSalary:
    print(GivenSalary,' is Above Average')
  elif GivenSalary < AverageSalary:
    print("Below Average")

Below Average
Below Average
Above Average
Above Average
Below Average

Q3(b).
- Start with a `salary` of `50000`.
- Use a `while` loop to increase the salary by `5000` each year until it exceeds `80000`
- Print the salary after each increment.

In [ ]:
salary = 50000
while salary <= 80000:
  salary += 5000 # Can use: salary = salary + 5000

print(salary)

85000

Q3(c).
- Consider the following dictionary of employee salaries:

In [ ]:
salaries = {'Alice': 50000, 'Bob': 60000, 'Charlie': 70000, 'Dana': 45000}

- Use a `for` loop to print the names of employees who earn more than `55000`.

In [ ]:
for name, salary in salaries.items(): #identifies both parts of the dictionary
  if salary > 55000:
    print(name)

Bob
Charlie

Q3(d).

In [ ]:
data_list = [42, 3.14, 'Data Analytics', True, None, [1, 2, 3], {'key': 'value'}, (4, 5)]

- Given the list above, print the data type of each element using the `type()` function in a `for` loop. In the loop:
  - Convert the integer `42` to a string.
  - Convert the float `3.14` to a string, then back to a float.
  - Convert the boolean `True` to an integer

In [ ]:
for i in range(len(data_list)):
    if type(data_list[i]) == int:
        data_list[i] = str(data_list[i])
    elif type(data_list[i]) == float:
        data_list[i] = str(data_list[i])
        data_list[i] = float(data_list[i])
    elif type(data_list[i]) == bool:
        data_list[i] = int(data_list[i])
    print(type(data_list[i]))
data_list
# I finally figured it out, it was just like the for loop in R studio, I just tried oversimplifying it initially

<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'NoneType'>
<class 'list'>
<class 'dict'>
<class 'tuple'>

['42', 3.14, 'Data Analytics', '1', None, [1, 2, 3], {'key': 'value'}, (4, 5)]

# Question 4
Q4(a).
Consider the variables `a` and `b`:

In [ ]:
a = 10
b = 0

- Use a `try`-`accept` block to print the result of `a / b`.
  - If there is an error, print `'Cannot divide by zero!'`.

In [ ]:
try:
  Solution = a / b
  print(Solution)
except:
  print('Cannot divide by zero!')

Cannot divide by zero!

Q4(b).
- Consider the following dictionary of salaries with some missing (`None`) values:

In [ ]:
salaries = {'Alice': 50000, 'Bob': None, 'Charlie': 70000, 'Dana': None, 'Eve': 80000}

- Use a `for` loop with a `try`-`except` block to calculate the total of non-missing salaries.

In [ ]:
SalarySum = [0]
for name, salary in salaries.items():
  if salary != None:
    SalarySum.append(salary)
print("The total of the Salaries:",sum(SalarySum))
# I don't entirely understand the try-except function nor when/how to implement

The total of the Salaries: 200000

# Question 5
- Import the `math` library and calculate the square root of `81` using the `sqrt()` function provided by the `math` library

In [ ]:
import math # idk if this is a necessary line, but it won't let me unimport so I can't really check
from math import sqrt
sqrt(81)

9.0